.HexViewer table {
    border: 1px solid #999999;
    background-color: #ffffff;
    border-collapse: collapse;
}
.HexViewer td {
	width:25px;
    border: 0px solid #cccccc;
	text-align:center;
}

.HexViewer tr:nth-child(odd) {
    background-color: 
	rgb(240,244,249);
}
